@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>A Aviação Aguias do Brasil nasceu de um sonho. O sonho de transformar o Brasil em um país com a mais alta tecnologia.</p>
<p>
    Sonhamos quando tudo parecia impossível, sabendo que grandes momentos acontecem quando desafiamos o status quo.
</p>
<p>
    De sonhos e desafios fizemos a Embraer se tornar uma das maiores companhias de jatos comerciais do mundo. Pensando além do impossível, abraçando cada oportunidade desde 1969 até os dias de hoje, construímos o inimaginável nos mundos da aviação comercial, executiva, defesa e segurança.
    </p>
<p>
    Não há outra maneira de descrever o que nos impulsiona senão a paixão genuína pelo que fazemos. Talvez seja isso que hoje ressoa de maneira verdadeira no coração de tantos brasileiros, colaboradores e parceiros.
    </p>
<p>
    Usamos o design, a engenharia imaginativa e a tecnologia como as principais ferramentas para criar novas perspectivas, chegando em soluções que levam excelência, performance e superação para cada um dos nossos clientes e parceiros.
</p>