@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    R. Miguel Ximenes, 20 - Protestantes<br />
    Votorantim - SP 18111-083<br />
    <abbr title="Fone">F:</abbr>
    (15) 3359 – 1627
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fernando.santos@ventron.com.br">fernando.santos@ventron.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:fernando.santos@ventron.com.br">fernando.santos@ventron.com.br</a>
</address>