@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Águias do Brasil</h1>
    <p class="lead">Revolucionando a tecnologia brasileira, a Embraer foi criada em 1969 com apoio do governo nacional. Começamos a escrever nossa história com o Bandeirante, um avião turbo propulsor, destinado ao uso civil e militar dual, com capacidade para transportar de 15 a 21 passageiros. Dele, muitos outros projetos foram sonhados e desenvolvidos. Mais de 40 anos se passaram e continuamos a mostrar que estamos sempre dispostos a enfrentar desafios, missões e entregas com a mesma energia dos primeiros dias.</p>
    @Html.ActionLink("Sobre", "About", "Home", new { id = 3 }, new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aliste-se</h2>
        <p>
            Precisamos de pilotos, e se de alguma forma quiser manter contato com nós, contate-nos!
        </p>
        <p>@Html.ActionLink("Contate-nos", "Contact", "Home", new { id = 3 }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Adicione Pilotos</h2>
        <p>Adicione os novos pilotos da companhia, para comandares nossos melhores aviões e voôs.</p>
        <p>@Html.ActionLink("Adicionar Piloto", "Index", "Pilotoes", new { id = 3 }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Adicionar Aviões</h2>
        <p>Adicione novos aviões e modelos para nossa companhia e aumente a nossa grande esquadrilha.</p>
        <p>@Html.ActionLink("Adicionar Avião", "Index", "Aviaos", new { id = 3 }, new { @class = "btn btn-default" })</p>
    </div>
</div>